@using Parcels.Models;

<h1> Parcel Volume/Cost To Ship <h1>

<ul>
<li>Weight: @Model.Weight</li>
<li>Height: @Model.Height</li>
<li>Length: @Model.Length</li>
<li>Width: @Model.Width</li>
</ul>

<p>Volume: @Model.Volume</p>
<p>Cost to Ship: @Model.Cost</p>